.mesProduits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

h1{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}